
.movie-card-body {
  display: flex;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  padding: 1em;

  .poster-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .raitings {
      margin: 1em;
    }
  }

  .info-wrapper {
    margin: 1em;

    .head {
      text-align: center;

      .head-info{
        display: inline-flex;
        align-items: center;

        .certification {
          border: 1px solid silver;
          color: silver;
        }

        span {
          margin: 0 .2em;
        }
      }

      i {
        font-size: 9px;
      }
    }

    .plot {
      margin: 1em 0;
    }
  }
}