@import './modalFilter.scss';
@import './search.scss';

.movies-list-wrapper {
  display: flex;
  flex-wrap:  wrap;
  width: 100%;
  align-items: center;
  justify-content: center;

  .btn-load-movie {
    margin: 3em;
  }

  .movie  {
    margin: .2em;
    text-align: center;
  }

  // .movies-list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   width: 100%;
  //   justify-content: center;
  // }
}