@import './modalFilter.scss';
@import './search.scss';

.movies-list-wrapper {
  display: flex;
  flex-wrap:  wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .btn-load-movie {
    margin: 1em;
  }

  .movies-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .movie  {
      margin: .2em;
      text-align: center;
    }
  }
}