@import './modalFilter.scss';

.movies-list-wrapper {
  display: flex;
  flex-wrap:  wrap;
  width: 100%;

  .movies-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .movie  {
      margin: .2em;
      text-align: center;
    }
  }
}